body
{
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

/*messages aletr start hear*/
.message
{
	min-height: 40px;
	background: #d9e1e6;
	padding: 9px 0 5px;
	position: relative;
}
.message p
{
	font-size: 10px;
	line-height: 16px;
	font-weight: 400;
	color: #868f93;
	text-transform: uppercase;
}
.message .close
{
	position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size: 15px;
}
/*messages aletr end hear*/

/*sidebar start hear*/
.sidebar
{
	width: 150px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: -151px;
	background: #d9e1e6;
	transition: all .5s ease-in-out;
}
.sidebar-active
{
	right: 0px;
}
.sidebar ul
{
	width: 100%;
	list-style: none;
	padding: 0;	
	margin:0;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block;
}
.sidebar ul li
{
	text-decoration: none;
	list-style: none;
	padding: 5px 0;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}
.sidebar ul li a
{
	color: #111111;
	text-decoration: none;
	padding: 10px;
	background: rgba(0,0,0,0);
	display: block;
}
.sidebar ul li:hover a
{
	background: rgba(0,0,0,.5);
	color: #fff;
}



header
{
	min-height: 100px;
	background: transparent;
}
.top-header
{
	min-height: 100px;
	background: transparent;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}
.selectpicker
{
	border: none;
	font-size: 12px;
	line-height: 18px;
	color: #111111;
	text-transform: uppercase;
	box-shadow: none;
	margin-top: 25px;
}
.selectpicker:focus
{
	outline: none;
}
.logo
{
	position: relative;
	display: block;
	float: none;
	padding: 35px 15px;
}
.logo img
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a.btn.cart
{
	padding: 8px 25px;
	border: 2px solid #ded3aa;
	border-radius: 0;
	color: #111111;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	float: right;
	margin-top: 18px;
}
/*top header end hear*/

/*main nav bar start hear*/
.main-nav
{
	min-height: 70px;
	background: transparent;
	border-bottom: 1px solid #ccc;
}
.sidebar-icon
{
	font-size: 18px;
	padding: 20px 0;
	color: #000;
}

.wish_search
{
	display: inline-block;
	float: right;
	padding: 20px 0;
}
.wish_search a
{
	font-size: 16px;
	color: #111111;
	padding: 0 8px;
	position: relative;
	border-radius: 0;
}
.wish_search a:focus
{
	box-shadow: none;
}
.wish_search a:nth-child(1)
{
	 border-right: 1px dotted #111111;
}
.search-box
{
	background: #d9e1e6;
	position: absolute;
	top: 60px;
	right: 8%;
	width: 325px;
	height: 60px;
	padding: 10px 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-top: 4px solid #ded3aa;
	display: none;
	transition: all .5s ease-in-out;
}
.search-box:before
{
	content: '';
	position: absolute;
	top: -32px;
	right: 5px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 14px solid transparent;
	border-bottom: 14px solid #ded3aa;
}
.search-box input[type="text"]
{
	width: 200px;
	padding: 5px 10px;
	margin-left: 23px;
	border: 1px solid #ded3aa;
	outline: none;
}
.search-box input[type="button"]
{
	width: 80px;
	padding: 5px 0;
	background: #ded3aa;
	border: 1px solid #ded3aa;
	outline: none;
	cursor: pointer;
	color: #fff;
	margin-left: -6px;
	text-transform: uppercase;
}
.navbar
{
	margin-bottom: 0;
	border-radius: 0;
	padding: 8px 110px;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}
.navbar ul li a
{
	color: #111111;
}
.navbar ul li a:hover, .navbar ul li a:focus, .navbar ul li a:active, .navbar ul li a:visited
{
	background: transparent !important;
}
.icon-bar
{
	background: #111111;
}

/* header end hear */

/* product section start hear */
.product
{
	min-height: 400px;
	background: transparent;
	padding: 50px 0;
}


.glass-case * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
    border: 0;
}

    .glass-case *:before, .glass-case *:after {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
    }

.glass-case {
    position: relative;
}
/*********************DISPLAY***************************/
.gc-display-area {
    position: absolute;
    overflow: hidden;
    border: 2px solid #F5F5F5;
    padding: 2px;
    background-color: #fff;
}

.gc-display-container {
    position: relative;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.gc-display-display {
    position: relative;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    cursor: crosshair;
    opacity: 1;
}
/*********************LENS***************************/
.gc-lens {
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    cursor: crosshair;
    background: #CECECE;
    opacity: .5 !important; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 5-7 */
    filter: alpha(opacity=50) !important; /* Netscape */
    -moz-opacity: 0.5; /* Safari 1.x */
    -khtml-opacity: 0.5;
}
/*********************ZOOM***************************/
.gc-zoom {
    position: absolute;
    /overflow: hidden;
    width: 100%;
    height: auto;
    z-index: 1040 !important;
    border: 2px solid #f5f5f5;
    padding: 2px;
    background-color: #fff;
}

.gc-zoom-inner {
    cursor: crosshair;
    border: 0 !important;
    left: -2px !important;
    top: -2px !important;
    margin: 0 !important;
    z-index: 1010 !important;
}

.gc-zoom-container {
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

    .gc-zoom-container img {
        position: relative;
        max-width: none !important;
    }
/*********************CAPTION**********************/
.gc-caption-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    padding: 2px;
    z-index: 1050 !important;
    background-color: rgba(255, 255, 255, 0.5);
    line-height: 1.6;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #333;
    font-size: 0.9em;
}

    .gc-caption-container div {
        position: relative;
        padding: 0 12px 0 12px;
    }

.gc-caption-intop {
    left: 0;
    top: 0;
}

.gc-caption-inbottom {
    left: 0;
    bottom: 0;
}

.gc-caption-outtop, .gc-caption-outbottom {
    width: 100%;
    width: calc(100% + 4px);
    border: 2px solid #f5f5f5;
    background: #fff;
}

.gc-caption-outtop {
    top: 0;
    left: -2px;
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.gc-caption-outbottom {
    bottom: 0;
    left: -2px;
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
}

.gc-alignment-center {
    text-align: center;
}

.gc-alignment-left {
    text-align: left;
}

.gc-alignment-right {
    text-align: right;
}

/*********************UL***************************/
.gc-thumbs-area {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
}

.gc-thumbs-area-prev, .gc-thumbs-area-next {
    position: absolute;
    z-index: 1010;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-prev, .gc-thumbs-area.gc-hz .gc-thumbs-area-next {
    top: 0;
    height: 100%;
    min-height: 100%;
    width: 5%;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-prev, .gc-thumbs-area.gc-vt .gc-thumbs-area-next {
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 5%;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-prev {
    left: 0;
}

.gc-thumbs-area.gc-hz .gc-thumbs-area-next {
    right: 0;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-prev {
    top: 0;
}

.gc-thumbs-area.gc-vt .gc-thumbs-area-next {
    bottom: 0;
}

.gc-thumbs-area-prev:hover, .gc-thumbs-area-next:hover {
    opacity: 1;
    cursor: pointer;
    cursor: hand;
}

.gc-thumbs-area-prev .gc-disabled, .gc-thumbs-area-next .gc-disabled, .gc-thumbs-area-prev .gc-disabled:hover, .gc-thumbs-area-next .gc-disabled:hover {
    opacity: .3; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 5-7 */
    filter: alpha(opacity=30); /* Netscape */
    -moz-opacity: 0.3; /* Safari 1.x */
    -khtml-opacity: 0.3;
    cursor: default;
}

.glass-case ul {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    border: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}

    .glass-case ul li {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 2px solid #f5f5f5;
        padding: 2px;
        background-color: #fff;
    }

.gc-thumbs-area.gc-hz li {
    display: inline;
    float: left;
    max-width: 100%;
    max-height: 100%;
    margin-right: 15px;
}

.gc-thumbs-area.gc-vt li {
    margin-bottom: 5px;
}

.glass-case ul li .gc-li-display-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.glass-case ul li:hover {
    border-color: #4f4f4f;
    cursor: pointer;
    cursor: hand;
}

.glass-case ul li.gc-active, .glass-case ul li.gc-active:hover {
    border-color: #669966;
    cursor: default;
}

.glass-case ul li .gc-li-display-container img {
    position: relative;
    top: 50%;
    left: 50%;
}
/*********************OVERLAY***************************/
.gc-overlay-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2147483647 !important;
    background-color: rgb(204, 204, 204); /*the falback for ie7, ie8*/
    background-color: rgba(51, 51, 51, 0.95);
}

.gc-overlay-gcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}

.gc-overlay-container {
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.gc-overlay-container-display {
    position: absolute;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 0;
}

.gc-ocd-top {
    top: 0;
}

.gc-ocd-bottom {
    bottom: 0;
}

.gc-overlay-fit {
    padding: 4em 5.5em 1em 5.5em;
    overflow: hidden;
}

.gc-overlay-display {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    cursor: crosshair;
}

.gc-overlay-display-center {
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gc-overlay-display-vcenter {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gc-overlay-display-hcenter {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.gc-overlay-top-icons {
    position: absolute;
    top: 0;
    padding: 1em 1.5em 1em 0;
    width: 100%;
    height: 4em;
}

.gc-overlay-left-icons {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 1em 0 1.5em;
    height: 100%;
    width: 5.5em;
}

.gc-overlay-right-icons {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1.5em 0 1em;
    height: 100%;
    width: 5.5em;
}

/*********************LOADING***************************/
.gc-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 31px;
    height: 31px;
    margin-left: -15px;
    margin-top: -15px;
    background-image: url(../images/loader.gif);
}

.gc-loading3 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    font-size: 0.25em;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(102, 153, 102, 0.2);
    border-right: 1.1em solid rgba(102, 153, 102, 0.2);
    border-bottom: 1.1em solid rgba(102, 153, 102, 0.2);
    border-left: 1.1em solid #669966;
    -webkit-animation: loadGC 1.1s infinite linear;
    animation: loadGC 1.1s infinite linear;
}

    .gc-loading3,
    .gc-loading3:after {
        border-radius: 50%;
        width: 30px;
        height: 30px;
    }

@-webkit-keyframes loadGC {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loadGC {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*********************GENERAL***************************/
.gc-hide {
    display: none;
    z-index: 0;
    opacity: 0; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 5-7 */
    filter: alpha(opacity=0); /* Netscape */
    -moz-opacity: 0; /* Safari 1.x */
    -khtml-opacity: 0;
}

.gc-noscroll {
    overflow: hidden;
}

.gc-start {
    display: none;
    z-index: 0;
    opacity: 0; /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 5-7 */
    filter: alpha(opacity=0); /* Netscape */
    -moz-opacity: 0; /* Safari 1.x */
    -khtml-opacity: 0;
}


/*  ====================product images end hear====================*/

a.back
{
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    color: #555555;
    text-decoration: none;
    margin-bottom: 30px;
}
a.back i
{
    font-size: 10px;
}
a.back span
{
    color: #68899a;
    text-transform: capitalize;
}
.product_details .product_name
{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #111111;
}
.rating
{
    width: 100%;
    display: flex;
    padding: 5px 0;
}
.starrr
{
    padding-right: 10px;
}
.glyphicon-star
{
    color: #ded3aa;
    font-size: 20px;
    line-height: 30px;
}
.glyphicon-star-empty
{
    font-size: 20px;
    line-height: 30px;
    border: 0;
    color: #dfdfde;
}
.rating h5
{
    font-size: 14px;
    color: #555555;
    font-weight: 300;
}
a.review
{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #111111;
    text-transform: uppercase;
    text-decoration: underline;
}
a.review:active, a.review:focus, a.review:hover
{
    border: none;
    background: transparent;
    box-shadow: none;
    
}
a.review:hover
{
    color: #68899a;
}
.price
{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #68899a;
    margin: 0;
}
h4
{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #111111;
}
h4 span
{
    color: #68899a;
}
.product-info
{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}
.product_details ul
{
    padding: 0 0px 0 18px;
    margin: 0;
}
.product_details ul li
{
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
}


.product-color-size
{
    padding-top: 30px;
}

.product-color-size label
{
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #111111;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.product-color-size select.form-control
{
    border-radius: 0;
    text-transform: capitalize;
}
.select-cler
{
    font-size: 12px;
    line-height: 36px;
    background: transparent;
    border: none;
    font-weight: 400;
    color: #111111;
    text-transform: uppercase;
    text-decoration: underline;
    padding-top: 20px;
    box-shadow: none;
    margin-bottom: 20px;
}
.btn.select-cler:hover, .btn.select-cler:active, .btn.select-cler:focus
{
    box-shadow: none;
    outline: none;
    border:none;
}

a.btns
{
    padding: 10px 40px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    border:1px solid #e1e1e1;
    color: #111111;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}
a.btns::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #000;
    border-radius: 0 0 50% 50%;
    z-index: -1;
    transition: 0.5s ease-in-out;
}
a.btns.add-cart
{
    padding: 10px 45px;
}
a.btns.wishlist
{
    margin-left: 50px;
}
a.btns:hover
{
    color: #fff;
}
a.btns:hover::before
{
    height: 190%;
}
.radio-inline
{
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
}









@media only screen and (max-width: 480px)
{
	.navbar
	{
		padding: 8px 0;
    }
    a.btns
    {
        padding: 10px 15px !important;
        font-size: 12px;
        line-height: 18px !important;
    }
}

