body
{
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

.main
{
    min-height: 400px;
}
.p-0
{
    padding: 0;
}
.m-0
{
    margin: 0;
}
.mb-30
{
    margin-bottom: 30px;
}
.border-bottom
{
    border-bottom: 1px solid #ddd;
}
.sidebar
{
    height: 100vh;
    background: transparent;
    padding: 10px 15px;
}
.hide
{
    display: none;
}
.active
{
    display: block;
}
.filer-catagory
{
    padding: 10px 0;
}
.checkbox
{
    font-size: 14px;
    line-height: 26px;
}
input[type="checkbox"]
{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all .5s;
}
input:checked[type="checkbox"]
{
    background: #03a9f4;
    outline: none;
}
input[type="checkbox"]::before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    transition: all .5s;
}
input:checked[type="checkbox"]::before
{
    left: 20px;
}
input[type="checkbox"]:focus
{
    box-shadow: none;
    outline: none;
}
.all-product
{
    min-height: 400px;
    background: transparent;
    padding: 50px 10px;

}
.product
{
    min-height: 450px;
    background: transparent;
    position: relative;
    border: 1px solid #;
    transition: all 500ms ease;
    border:1px solid #ded3aa;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
.product-img
{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.product img
{
    margin: 0 auto;
}
.product-detail
{
    width: 100%;
    min-height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: transparent;
    padding: 0 10px;
}
.product-name
{
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: #111111;
    text-align: center;
    padding: 10px 0;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}
.product-name:hover, .product-name:focus, .product-name:active
{
    color: #68899a;
    text-decoration: none;
}
.price
{
    display: flex;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 700;
    color: #111111;
}
.price span
{
    text-decoration: line-through;
    padding: 10px 10px;
    color: #999;
}
.starrr
{
    padding-right: 10px;
}
.glyphicon-star
{
    color: #ded3aa;
    font-size: 18px;
    line-height: 28px;
}
.glyphicon-star-empty
{
    font-size: 18px;
    line-height: 28px;
    border: 0;
    color: #dfdfde;
}
.product-link
{
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.product-link li
{
    display: inline-block;
    padding: 5px;
    
}
.product-link li a
{
    font-size: 18px;
    line-height: 24px;
    color: #868f93;
    text-align: center;
    padding: 0;
}
.product-link li a:hover, .product-link li a:focus, .product-link li a:active
{
    color: #000;
    text-decoration: none;
}
.product:hover
{
    border-color: #68899a;
    box-shadow: 0px 3px 21px rgba(0,0,0,.4);
}


/*  ============= product  view page start hear =============== */



